:root {
	--highlight-cyan: #00c5ff;
	--highlight-blue: #2f52a0;
	--highlight-grey: #5c5c5c;
	--highlight-orange: #e69800;

	--background-darkest: #050505;
	--background-darker: #222222;
	--background-dark: #404040;

	--strong-border: 1px solid rgba(255, 255, 255, 0.4);
	--light-border: 1px solid rgb(58 58 58);
}

* {
	box-sizing: border-box;
}

html {
	color: white;
	font-family: "Rubik", "Avenir Next", "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 13px;
}

body {
	background: var(--background-darkest);
	padding: 0;
	margin: 0;

	display: flex;
	flex-direction: column;

	height: 100%;
	width: 100%;
}

main {
	flex: 1;
	display: grid;
	grid-template-columns: 350px auto 250px 250px 250px;
	grid-template-rows: min-content auto min-content;
}


header, section {
	padding: 5px;
	margin: 5px;

	border: var(--light-border);
	background: var(--background-darker);
}

nav.section-nav {
    display: flex;
    margin-top: -5px;
    padding-left: 5px;
}

.section-nav > div {
	background: var(--background-darkest);

    border: var(--light-border);
    border-top: none;
	border-bottom-width: 2px;

    position: relative;
	top: -1px;

    margin-right: 10px;
	padding: 5px;
	
	cursor: pointer;
}

.section-nav > div.active {
	border-bottom-color: var(--highlight-blue);
	background: var(--background-darker);
}

h1 {
	font-size: 1.8rem;
    line-height: 1.3875;
    margin: 0;
    font-weight: 300;
}

h2 {
	margin: 0px;
	margin-bottom: 8px;
	font-size: 1.2rem;
	text-align: center;
}

h3 {
    margin: 0px;
    margin-bottom: 0.5em;
    font-size: 1.1rem;
}

.label {
	font-size: 0.9rem;
}

.cases {
    color:var(--highlight-cyan);
}

.deaths {
    color: var(--highlight-grey);
}

.highlight {
	color: var(--highlight-orange);
}

a {
	color: var(--highlight-cyan);
	text-decoration: none;
}

/*
 * Map section
 */
 section.map-section {
    grid-row: 1 / 4;
    grid-column: 2;

	display: flex;
	flex-direction: column;

    position: relative;
}

section.map-section .county-info {
    position: absolute;
    background: var(--background-darker);
    z-index: 999;
    min-width: 200px;
    top: 2.5em;
	border: var(--strong-border);
	
	height: 0px;
	width: 0px;
	overflow: hidden;
	opacity: 0;
	transition: opacity 300ms, width 0ms 300ms, height 0ms 300ms;
}

section.map-section .county-info .close-icon::before {
    content: '✖';
    cursor: pointer;
}

section.map-section .county-info.displayed {
	opacity: 1;
	transition: opacity 300ms 10ms;

	width: 30%;
	height: auto;
}

section.map-section .county-info > header {
	margin: 0;
	display: flex; 
	flex-direction: row-reverse;
	background: var(--background-dark);
	border-bottom: var(--strong-border)
}

section.map-section .county-info > div {
    padding: 5px;
}

section.map-section .county-info table {
    font-size: 1rem;
    text-align: left;
}

section.map-section .county-info td,
section.map-section .county-info th {
    border-bottom: var(--light-border);
	padding: 0.3em 0;
}

section.map-section .map {
	flex: 1;

	background: none;
}


/*
 * Data-age section
 */
section.data-age {
    grid-column: 1;
	height: fit-content;
	
	text-align: center;
}


/*
 * County list section
 */
section.counties {
	grid-row: 1 / 3;
	grid-column: 1;
    display: flex;
    flex-direction: column;
}

section.counties .label {
	text-align: center;
	font-size: 1rem;
}

section.counties .scroll-container {
	flex: 1;
	overflow-y: scroll;
	position: relative;
}

section.counties .scroll-container table {
	position: absolute;
    font-size: 1.2rem;
	text-align: left;
	border-collapse: collapse;
	margin-top: 1rem;
}

section.counties .scroll-container table td,
section.counties .scroll-container table th {
	padding: 5px;
	border-bottom: var(--strong-border);

	cursor: pointer;
}


/*
 * Total sum section
 */
section.summed-section {
	grid-row: 1;
	text-align: center;
	
	display: flex;
	flex-direction: column;
}

section.summed-section .daily-sum,
section.summed-section .daily-diff {
	font-size: 2.5rem;
	font-weight: 500;
}

section.summed-section .daily-diff {
	border-top: var(--light-border);
}

/*
 * Info section
 */
section.info-section {
	grid-row: 1;
	min-width: 200px;
}

.development-graphs {
	grid-column: 3/6;
	grid-row: 2/4;

	display: flex;
	flex-direction: column;
}

/*
 * Daily new cases bar plot section
 */
.development-graphs section.new-cases-per-day-section {
	display: flex;
	flex-direction: column;
	flex: 1;
 }

.development-graphs section.new-cases-per-day-section .daily-new-cases-canvas-resize-container {
	position: relative;
	flex: 1;
}

.development-graphs section.new-cases-per-day-section canvas {
	height: 100%!important;
}

.development-graphs section.new-cases-per-day-section .chart-labels {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.development-graphs section.new-cases-per-day-section .chart-label {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5px 0 15;
}

.development-graphs section.new-cases-per-day-section .chart-label.by-first-sickday {
    background: var(--highlight-blue);
}

.development-graphs section.new-cases-per-day-section .chart-label.by-notificationday {
    background: var(--highlight-orange);
}

/*
 * Leaflet overrides
 */
.map .leaflet-tooltip-pane {
	opacity: 0.7;
}

.map .leaflet-tooltip {
    background-color: black;
	color: white;
}