:root {
  --highlight-cyan: #00c5ff;
  --highlight-blue: #2f52a0;
  --highlight-grey: #999;
  --highlight-orange: #e69800;
  --background-darkest: #050505;
  --background-darker: #222222;
  --background-dark: #404040;
  --background-light: #5c5c5c;
  --strong-border: 1px solid rgba(255, 255, 255, 0.4);
  --light-border: 1px solid rgb(58, 58, 58);
  --lighter-border: 1px solid rgb(175, 175, 175);
}

* {
  box-sizing: border-box;
}

html {
  color: white;
  font-family: "Rubik", "Avenir Next", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 13px;
  height: 100%;
}

body {
  background: var(--background-darkest);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

main {
  flex: 1;
  display: grid;
  grid-template-columns: 370px auto 250px 250px 250px;
  grid-template-rows: min-content auto min-content;
}

header, section {
  padding: 5px;
  margin: 5px;
  border: var(--light-border);
  background: var(--background-darker);
}

nav.section-nav {
  display: flex;
  margin-top: -5px;
  padding-left: 5px;
  flex-wrap: wrap;
}

.section-nav>div {
  background: var(--background-darkest);
  border: var(--light-border);
  border-top: none;
  border-bottom-width: 2px;
  position: relative;
  top: -1px;
  margin-right: 10px;
  padding: 5px;
  cursor: pointer;
}

.section-nav>div.active {
  border-bottom-color: var(--highlight-blue);
  background: var(--background-darker);
}

h1 {
  font-size: 1.8rem;
  line-height: 1.3875;
  margin: 0;
  font-weight: 300;
}

h2 {
  margin: 0px;
  margin-bottom: 8px;
  font-size: 1.2rem;
  text-align: center;
}

h3 {
  margin: 0px;
  margin-bottom: 0.5em;
  font-size: 1.1rem;
}

.label {
  font-size: 0.9rem;
  font-weight: normal;
}

.cases {
  color: var(--highlight-cyan);
}

.deaths {
  color: var(--highlight-grey);
}

.highlight {
  color: var(--highlight-orange);
}

a {
  color: var(--highlight-cyan);
  text-decoration: none;
}

.canvas-resize-container {
  position: relative;
  flex: 1;
}

.canvas-resize-container canvas {
  height: 100%!important;
}

.navigatable section {
  display: none;
}

.navigatable section.active {
  display: flex;
}

.page-header .fork-me {
  float: right;
}

.close-icon::before {
  content: '✖';
  cursor: pointer;
}

span.sort::before {
  content: '▲';
  position: absolute;
  top: -0.4em;
  font-size: 0.8rem;
}

span.sort::after {
  content: '▼';
  position: absolute;
  top: 0.4em;
  font-size: 0.8rem;
}

tr.sort-row span.sort {
  position: relative;
  height: 1em;
  display: block;
  color: #888;
}

table tr.sort-row th {
  position: sticky;
  text-align: center;
  top: 0;
  background: var(--background-darker);
  border-bottom: none;
}

span.sorted-asc::before, span.sorted-desc:hover::before {
  color: white;
}

span.sorted-desc::after, span.sorted-asc:hover::after {
  color: white;
}

span.sort:hover::after {
  color: white;
}

span.symbol {
  font-size: 1.5em;
  position: relative;
  top: 0.1em;
  line-height: 0px;
}

[data-historic-data] .not-animatable {
  opacity: 0.2;
  pointer-events: none;
}

.subheadline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/*
 * Fork me button and page info
 */

button.fork-me {
  display: flex;
  align-items: center;
  background: var(--background-darker);
  color: white;
  border: var(--strong-border);
  border-radius: 3px;
  cursor: pointer;
}

button.fork-me img {
  margin: 0 3px;
}

aside.info-overlay {
  position: fixed;
  z-index: 1050;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

aside.info-overlay.hidden {
  display: none;
}

aside.info-overlay>div {
  width: 80%;
  max-width: 600px;
  max-height: 80%;
  overflow: auto;
  background: var(--background-darker);
  border: var(--strong-border);
  padding: 5px;
  position: relative;
}

aside.info-overlay h3 {
  margin-top: 20px;
}

aside.info-overlay .close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}

/*
 * Map section
 */

section.map-section {
  grid-row: 1 / 3;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  position: relative;
}

section.map-section .county-info {
  position: absolute;
  background: var(--background-darker);
  z-index: 999;
  min-width: 200px;
  top: 2.5em;
  border: var(--strong-border);
  height: 0px;
  width: 0px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 300ms, width 0ms 300ms, height 0ms 300ms;
}

section.map-section .county-info.displayed {
  opacity: 1;
  transition: opacity 300ms 10ms;
  width: 30%;
  height: auto;
}

section.map-section .county-info>header {
  margin: 0;
  display: flex;
  flex-direction: reverse;
  background: var(--background-dark);
  border-bottom: var(--strong-border)
}

section.map-section .county-info>header .spacer {
  flex: 1;
}

section.map-section .county-info>div {
  padding: 5px;
}

section.map-section .county-info table {
  font-size: 1rem;
  text-align: left;
}

section.map-section .county-info td, section.map-section .county-info th {
  border-bottom: var(--light-border);
  padding: 0.3em 0;
}

section.map-section .map {
  flex: 1;
  background: none;
}

section.map-section aside.map-legend {
  position: absolute;
  top: 3em;
  right: 15px;
  z-index: 999;
  width: 150px;
  max-height: 18em;
  transition: max-height 500ms;
  overflow: hidden;
  padding: 5px;
  background: var(--background-darker);
  border: var(--strong-border);
  cursor: pointer;
}

section.map-section aside.map-legend.collapsed {
  max-height: 2.1em;
  overflow: hidden;
  transition: max-height 500ms;
}

section.map-section .legend-color {
  height: 1em;
  width: 1em;
  float: left;
  margin-right: 5px;
}

section.map-section .city-label {
  pointer-events: none!important;
  color: #eee;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  font-size: 0.8rem;
  line-height: 0.8rem;
  text-shadow: -1px -1px 2px var(--background-dark),
   1px -1px 2px var(--background-dark),
   -1px 1px 2px var(--background-dark),
   1px 1px 2px var(--background-dark);
}

/*
 * Animation control section
 */

section.animation-control {
  grid-column: 2;
  grid-row: 3;
}

section.animation-control button,
section.animation-control input,
section.animation-control select {
  font-size: 1rem;
  background: var(--background-light);
  border: var(--lighter-border);
  color: white;
  cursor: pointer;
  border-radius: 3px;
  padding: 0px 3px;
}

section.animation-control .animation-control-range {
  margin-top: 5px;
  height: 4px;
  background-color: rgb(175, 175, 175);
  width: 100%;
  border-radius: 3px;
}

section.animation-control.precaching .animation-controls-row, section.animation-control .animation-caching-hint {
  display: none;
}

section.animation-control.precaching .animation-caching-hint {
  display: block;
}

.animation-control-start, .animation-control-stop {
  flex-basis: 150px;
  flex-grow: 0;
  flex-shrink: 1;
}

[data-running-animation] .animation-controls-row button,
[data-running-animation] .animation-controls-row select {
  pointer-events: none;
  opacity: 0.4;
}

[data-running-animation] .animation-controls-row .animation-control-start, .animation-control-stop {
  display: none;
}

[data-running-animation] .animation-controls-row .animation-control-stop {
  display: inline;
  pointer-events: all;
  opacity: 1;
}

section.animation-control .animation-controls-row {
  display: flex;
  white-space: nowrap;
  flex-wrap: wrap;
}

section.animation-control .animation-controls-row .spacer {
  flex: 1;
  display: inline-block;
}

section.animation-control .animation-controls-row input {
  flex: 7;
}

/*
 * Data-age section
 */

section.data-age {
  grid-column: 1;
  text-align: center;
}

/*
 * County list section
 */

section.counties {
  grid-row: 1 / 3;
  grid-column: 1;
  display: flex;
  flex-direction: column;
}

section.counties .label {
  text-align: center;
  font-size: 1rem;
}

section.counties .scroll-container {
  flex: 1;
  overflow-y: scroll;
  position: relative;
  scroll-snap-type: y mandatory;
  scroll-padding: calc(1em + 10px);
}

section.counties .scroll-container table {
  position: absolute;
  font-size: 1.2rem;
  text-align: left;
  border-collapse: collapse;
  margin-top: 1rem;
  width: 100%;
}

section.counties td {
  text-align: right;
}

section.counties .scroll-container table td, section.counties .scroll-container table th {
  padding: 5px;
  border-bottom: var(--strong-border);
  cursor: pointer;
}

section.counties .scroll-container table tr {
  scroll-snap-align: start;
}

/*
 * Total sum section
 */

section.summed-section {
  grid-row: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
}

section.seven-day-incidence-section > span:first-of-type,
section.summed-section .daily-sum,
section.summed-section .daily-diff {
  font-size: 2.5rem;
  font-weight: 500;
}

section.summed-section .secondary-info {
  font-size: 1.5rem;
}

section.summed-section span.daily-diff {
  border-top: var(--light-border);
}

section.summed-section .no-data {
  display: none;
}

/*
 * Info section
 */

section.info-section {
  grid-row: 3;
  grid-column: 3/6;
  min-width: 200px;
}

.development-graphs {
  grid-column: 3/6;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
}

.development-graphs section {
  flex-direction: column;
  flex: 1;
}

/*
 * Daily new cases bar plot sections
 */

.chart-labels {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.chart-labels .chart-label {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.chart-labels .label {
  margin-right: 15px;
}

.development-graphs section.new-cases-per-day-section .chart-label.by-first-sickday {
  background: var(--highlight-blue);
}

.development-graphs section.new-cases-per-day-section .chart-label.by-notificationday {
  background: var(--highlight-orange);
}

.development-graphs section.newly-reported-cases-per-day-section .chart-label.last-reported {
  background: var(--highlight-cyan);
}

.development-graphs section.newly-reported-cases-per-day-section .chart-label.newly-reported {
  background: var(--highlight-orange);
}

/*
 * Leaflet overrides
 */

.map .leaflet-tooltip-pane {
  opacity: 0.7;
}

.map .leaflet-tooltip {
  background-color: black;
  color: white;
}

@media (max-width: 1400px) and (min-width: 800px) {
  section.counties {
    grid-row: 4;
    grid-column: 1;
  }
  .development-graphs.navigatable {
    grid-row: 2/4;
    grid-column: 2/5;
  }
  section.map-section {
    grid-row: 1/3;
    grid-column: 1;
  }
  section.animation-control {
    grid-row: 3;
    grid-column: 1;
  }
  section.map-section aside.map-legend {
    bottom: 1em;
    left: 1em;
    top: auto;
  }
  main {
    grid-template-columns: auto 200px 200px 200px;
    grid-template-rows: 185px calc(80vh - 185px) 100px 80vh;
  }
  section.data-age {
    grid-row: 4;
    grid-column: 2;
    height: 150px;
  }
  section.info-section {
    grid-row: 4;
    grid-column: 3;
    height: 150px;
  }
  section.cases-section.summed-section {
    grid-row: 1;
    grid-column: 3;
  }
  section.deaths-section.summed-section {
    grid-row: 1;
    grid-column: 4;
  }
  section.cases-section.seven-day-incidence-section {
    grid-row: 1;
    grid-column: 2;
  }

  section.animation-control .animation-controls-row {
    flex-wrap: wrap;
    justify-content: center;
  }
  section.animation-control .animation-controls-row .spacer {
    flex-basis: 100%;
    flex-shrink: 0;
  }
  .animation-control-text::before {
    content: '.';
    visibility: hidden;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 15px;
  }
  main {
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
  .help {
    display: none;
  }
  section.counties {
    grid-row: 5;
    grid-column: 1/4;
    height: 250px;
    height: 80vh;
  }
  section.cases-section.summed-section {
    grid-row: 1;
    grid-column: 2;
  }
  section.deaths-section.summed-section {
    grid-row: 1;
    grid-column: 3;
  }
  section.seven-day-incidence-section {
    grid-row: 1;
    grid-column: 1;
  }
  section.map-section {
    grid-row: 2;
    grid-column: 1/4;
    height: 250px;
    height: 80vh;
  }
  section.animation-control {
    grid-row: 3;
    grid-column: 1/4;
  }
  .development-graphs.navigatable {
    grid-row: 4;
    grid-column: 1/4;
    height: 250px;
    height: 100vh;
  }
  section.data-age {
    grid-row: 6;
    grid-column: 1;
  }
  section.info-section {
    grid-row: 6;
    grid-column: 2;
    min-width: 0px;
  }
}


@media (max-width: 500px) {
  html {
    font-size: 15px;
  }
  main {
    grid-template-columns: 50% 50%;
  }
  .help {
    display: none;
  }
  section.counties {
    grid-row: 6;
    grid-column: 1/3;
    height: 250px;
    height: 80vh;
  }
  section.cases-section.summed-section {
    grid-row: 1;
    grid-column: 1/3;
  }
  section.seven-day-incidence-section {
    grid-row: 2;
    grid-column: 1;
  }
  section.deaths-section.summed-section {
    grid-row: 2;
    grid-column: 2;
  }
  section.map-section {
    grid-row: 3;
    grid-column: 1/3;
    height: 250px;
    height: 80vh;
  }
  section.animation-control {
    grid-row: 4;
    grid-column: 1/3;
  }
  .development-graphs.navigatable {
    grid-row: 5;
    grid-column: 1/3;
    height: 250px;
    height: 100vh;
  }
  section.data-age {
    grid-row: 7;
    grid-column: 1;
  }
  section.info-section {
    grid-row: 7;
    grid-column: 2;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 15px;
  }
  main {
    display: flex;
    flex-direction: column;;
  }
  .help {
    display: none;
  }
  section.counties {
    order: 8;
    height: 250px;
    height: 80vh;
  }
  section.cases-section.summed-section {
    order: 2;
  }
  section.deaths-section.summed-section {
    order: 3;
  }
  section.seven-day-incidence-section {
    order: 4;
  }
  section.map-section {
    order: 5;
    height: 250px;
    height: 80vh;
  }
  section.animation-control {
    order: 6;
  }
  .development-graphs.navigatable {
    order: 7;
  }
  section.data-age {
    order: 9;
  }
  section.info-section {
    order: 10;
  }
}

/* latin-ext */

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./assets/Rubik-latin.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./assets/Rubik-latin-ext.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/Rubik-latin.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/Rubik-latin-ext.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}

::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
